table {
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
}
caption{
  padding: 1rem;
  font-size: 1.6rem;
}
tbody {
  height: 85vh;
  display: block;
  overflow-y: auto;
  padding-right: 0.5rem;
  scrollbar-width: thin;
}
tbody::-webkit-scrollbar {
  background-color: rgba(225, 225, 255, 0.5);
  width: 3px;
}
tbody::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 255, 1);
  border-radius: 25px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
tbody:nth-child(even) tr:nth-child(odd) {
  background-color: rgba(225, 225, 255, 0.5);
}
td {
  padding: 0.5rem;
  width: fit-content;
}
